body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 300px;
}

header button {
    padding: 10px;
}

main {
    padding: 20px;
}

#results div {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Optional: space between grid items */
}

.product {
    border: 1px solid #ddd; /* Optional: border for each product */
    padding: 10px; /* Optional: padding for each product */
}

#image-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 200px; /* Adjust the height as needed */
}

#image-slider img {
    width: 100%;
    display: none; /* Hide images initially */
    position: absolute;
    top: 0;
    left: 0;
}

#image-slider img.active {
    display: block; /* Show the active image */
}

